<!DOCTYPE html>
<html>
    <head>
        <title>Cannot edit a directory (422)</title>
        <style>
        body {
            background-color: #EFEFEF;
            color: #2E2F30;
            text-align: center;
            font-family: arial, sans-serif;
        }

        div.dialog {
            width: 25em;
            margin: 4em auto 0 auto;
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #BBB;
            border-top: #B00100 solid 4px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            background-color: white;
            padding: 7px 4em 0 4em;
        }

        h1 {
            font-size: 100%;
            color: #730E15;
            line-height: 1.5em;
        }

        body > ul {
            width: 33em;
            margin: 0 auto 1em;
            padding: 1em 0;
            background-color: #F7F7F7;
            border: 1px solid #CCC;
            border-right-color: #999;
            border-bottom-color: #999;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top-color: #DADADA;
            color: #666;
            box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);
        }

        ul {
            text-align: left;
            list-style: none;
            padding: 0;
            border-radius: 4px;
            font-size: 12px;
        }

        li:first-child {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        li:last-child {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        li {
            border: 1px solid #ddd;
            padding: 5px 15px;
            margin-bottom: -1px;
        }

        .bs-pre {
            padding: 9.5px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #dir-btn {
            color: blue;
            border: 1px solid;
            border-radius: 4px;
            padding-bottom: 2px;
        }
        </style>
        <script>
            function toggleDir() {
                var dc = document.getElementById("contents");
                var btn = document.getElementById("dir-btn");
                if (dc.style.display === "none") {
                    dc.style.display = "block";
                    btn.innerHTML = "&#8593;"
                } else {
                    dc.style.display = "none";
                    btn.innerHTML = "&#8595;"
                }
            }
        </script>
    </head>
    <body>
        <div class="dialog">
            <h1>Cannot edit a directory.</h1>
            <p>The requested path is a directory and cannot be edited.</p>
            <p class="bs-pre"><%= @pathname %></p>
            <p>Toggle rudimentary list of the directory's contents: <button id="dir-btn" onclick="toggleDir()" style="color: blue;">&#8595;</button></p>
            <ul id="contents" style="display: none;">
                <%= "<li><a href='#{File.join(@file_edit_url, @pathname.dirname)}'>..</a></li>" unless @pathname.to_s == "/" %>
                <% @directory_content.each do |path| %>
                    <li>
                        <a href="<%= File.join(@file_edit_url, path) %>"><%= Pathname.new(path).basename %><%= "/" if Pathname.new(path).directory? %></a>
                    </li>
                <% end %>
            </ul>
        </div>
    </body>
</html>
