<!DOCTYPE html>
<html>
<head>
  <title><%= @app_title %></title>
  <meta charset="UTF-8">

  <%# reload every 15 seconds %>
  <meta http-equiv="refresh" content="15">

  <link rel="stylesheet" type="text/css" href="<%= url("/bootstrap-3.3.7-dist/css/bootstrap.min.css") %>">

  <%== erb(:ood_styles) %>
</head>
<body>

<header>
  <!-- navbar  -->
  <nav class="ood-appkit navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="navbar-breadcrumbs">
          <li><a href="/pun/sys/dashboard/">OSC OnDemand</a></li>
          <li><a href="#"><%= @title %></a></li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container" role="main">
  <% if @error %>
      <div class="alert alert-danger"><%= @error %></div>
  <% end %>

  <%== yield %>
</div>

<script src="<%= url("/jquery-3.2.1/jquery-3.2.1.min.js") %>"></script>
<script src="<%= url("/bootstrap-3.3.7-dist/js/bootstrap.min.js") %>"></script>
</body>
</html>
